.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: rgb(43, 43, 43);;
    margin: 20px;
    padding: 50px;
  }

  
  
  button {
    background-color: rgb(43, 43, 43);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(43, 43, 43);
  }