/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
/* navbar */
.img-logo {
    width: 180px;
    height: 100px;
}

.nav-button {
    width: 160px;
}

.navbar {
    background-color: white;
}