.login-form {
  width: 350px;
  margin: 0 auto;
}

.button-login {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-me,
.forgot-password,
.checkbox-container input {
  flex: 0.6;
  margin: 0;
  display: inline-block;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}