.resetPassword-form {
    width: 350px;
    margin: 0 auto;
}

.button-resetPassword {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

.h1-resetPassword {
    text-align: center;
    margin-bottom: 30px;
}